<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">View Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap.min.css}"/>
</head>
<body>
<h1>User Details</h1>
<p>User ID: [[${user.id}]]</p>
<p>User First Name: [[${user.firstname}]]</p>
<p>User Last Name: [[${user.lastname}]]</p>
<p>User Email: [[${user.email}]]</p>
<p>User Enabled?: [[${user.enabled}]]</p>
<p>User Password: [[${user.password}]]</p>
<p>User Notes: [[${user.note}]]</p>
<p>User Tags:</p>
<ul>
    <li th:each="tag : ${user.tags}" th:text="${tag.name}"></li>
</ul>
<div>
    <button type="button" onclick="backHome()">Back</button>

</div>
<script type="text/javascript">
    function backHome(){
        window.location.href="/";
    }

</script>
</body>
</html>
